{% extends "main.html" %}
{% block site_nav %}
  {% if nav %}
    {% if page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "navigation" in page.meta.hide %}
    {% endif %}
    <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {% include "partials/nav.html" %}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc">
    <div class="md-sidebar__scrollwrap">
      <div class="md-sidebar__inner">
        {%- set ns = namespace(seen=[]) -%}
        {%- for post in posts -%}
          {%- for category in post.categories -%}
            {%- if category.title not in ns.seen -%}
              {%- set ns.seen = ns.seen + [category.title] -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endfor -%}
        {% if ns.seen %}
          <p class="blog-sidebar-label">Categories</p>
          <div class="blog-sidebar-categories">
            {%- set ns2 = namespace(seen=[]) -%}
            {%- for post in posts -%}
              {%- for category in post.categories -%}
                {%- if category.title not in ns2.seen -%}
                  {%- set ns2.seen = ns2.seen + [category.title] -%}
                  <a href="{{ category.url | url }}" class="blog-category-tag">{{ category.title }}</a>
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block container %}
  <div class="md-content" data-md-component="content">
    <div class="md-content__inner">
      <header class="md-typeset">
        {{ page.content }}
      </header>
      {% for post in posts %}
        {% include "partials/post.html" %}
      {% endfor %}
      {% if pagination %}
        {% block pagination %}
          {% include "partials/pagination.html" %}
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}
